<h1>{{page.title}}</h1>
<p>
  <a href="/galleries/"> return to all galleries</a>
</p>

<ul class="gallery" id="{{ page.gallery }}">
  {% for gallery in site.data.galleries %}
    {% if gallery.id == page.gallery %}
      {% for image in gallery.images %}
        <li class="thumbnail-wrap">
          <a class="thumbnail" href="{{image.path}}"
            data-lightbox="{{ page.gallery }}"
            data-title="{{ image.title }}" >
            <div class="gallery-img"
              style="background-image: url('{{image.path}}')"
              title="{{ image.title}}"></div>
          </a>
        </li>
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>
