.headroom
  margin-top: 25px

.more-headroom
  margin-top: 50px

.even-more-headroom
  margin-top: 80px

ul.gallery-nav
  margin-left: 0px

.thumbnail
  img.img-responsive
    padding: 9px

img.banner
  width: 100%

.gallery-img
  background-position: center center
  background-size: cover
  width: 100%
  height: 100%
