#main-layout
  transition: all 0.4 ease 0s
  overflow: hidden

#main-sidebar
  background: #6F5E75
  position: fixed
  height: 100%
  z-index: 1000
  transition: all 0.4s ease 0s
  border-radius: 0  20px 20px 0
  box-shadow: 5px 5px 30px 7px rgba(50, 50, 50, 0.73)
  max-width: 400px

.page-content
  padding: $spacing-unit
