footer
  color: white
  bottom: 0
  text-align: center

.main-header
  padding: 25px
  h1
    a
      color: white
      font-size: 50pt
      &:hover
        text-decoration: none
      &:focus
        text-decoration: none
  h4
    color: white

ul.main-navigation
  li
    a
      color: white
      &:hover
        color: #6F5E75
