.navbar-custom
  background-color: white
  border-color: #6F5E75
  color: #6F5E75
  border-radius: 5px
  a.navbar-brand
    color: #6F5E75
  .navbar-text
    color: #6F5E75
  ul.navbar-nav
    li
      a
        color: #6F5E75
